body,
html {
	width: 100%;
	height: 100%; 
	margin:0px; 
	font-family: 'Reem Kufi', sans-serif;
	color: #F4E5C2; 
	font-size: 2em;
}
body {
	background-position: center;
	background-image: url("bg.jpg");
	background-size: cover;
	height: 100%;
}
.round{
	text-align: center;
}
.b {

	background-color: blue;
	height: 300px;
	border-radius: 10px;
}
.r{

	background-color: red;
	height: 300px;
	border-radius: 10px;
}

#contenedor{
	margin: 10px auto;
	width: 540px;
	height: 115px;
}
.reloj{
	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
	color: white;
	text-align: center;
}
.boton{
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 100px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);
}
.nonc{
	background-image: none;
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 100px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	margin-top:30px;

}
.redb{
	background-color: red
}
.blueb{
	background-color: blue
}
.boton:active{
	background-image: linear-gradient(#2c6f05,#3aad02);
}
.boton:hover{
	box-shadow: 0px 0px 14px #3aad02;
}
.Score {
	color:white;
	font-size: 150px;
	text-align: center;
	margin-top: 20px; 
}
.round {
	font-size: 150px;
	text-align: center;
	margin-top: 20px; 
}